body {
    background: url(../images/background.png);
    background-size: cover;
}

.list-group-item {
    background-color: #343A40;
}

#fileInputText {
    font-size:1.1em; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#fileList li {
    display: inline;
    border-color: beige;
}

#fileList li span {
    color: #0366d6;
    cursor: pointer;
/*    margin-right: 4px;
*/}

